/*********************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kalam", cursive, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
  background-color: #e0ffff;
  position: relative;
}

/*********************************************************** title */
.title {
  display: grid;
  justify-content: space-evenly;
  margin: 5rem auto;
}

.title h1 {
  font-size: 2.5rem;
  color: #008b8b;
}

/*********************************************************** wavy pattern */
.wavy-bg {
  position: absolute;
  top: 16rem;
  background-color: #b0e0e6;
  height: 20rem;
  width: 100%;
}

.wave-1 {
  position: absolute;
  bottom: 16rem;
  left: -4px;
  background-color: #b0e0e6;
  width: 50%;
  height: 7rem;
  border-top-left-radius: 3rem 5rem;
  border-top-right-radius: 3rem 5rem;
}
