/*********************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kalam", cursive, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
  background-color: #e0ffff;
  position: relative;
  overflow: hidden;
}

/*********************************************************** title */
.title {
  display: grid;
  justify-content: space-evenly;
  margin: 5rem auto;
}

.title h1 {
  font-size: 2.5rem;
  color: #008b8b;
}

@media (min-width: 700px) {
  .title h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1115px) {
  .title h1 {
    font-size: 4.5rem;
  }
}

/*********************************************************** wavy pattern */
.wavy-bg {
  position: absolute;
  top: 16rem;
  background-color: #b0e0e6;
  height: 20rem;
  width: 100%;
}

.wave-1 {
  position: absolute;
  bottom: 16rem;
  left: -4px;
  height: 7rem;
  width: 50%;
}

.wave-1::before,
.wave-1::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

.wave-1::before {
  background-color: #e0ffff;
  left: 17%;
  width: 108%;
  height: 80%;
  transform: translate(-31%, 4%);
}

.wave-1::after {
  background-color: #b0e0e6;
  left: 116%;
  height: 76%;
  width: 117%;
  transform: translate(-21%, 8%);
  z-index: -1;
}

@media (min-width: 700px) {
  .wave-1::before {
    left: 20%;
    height: 133%;
    transform: translate(-27%, -28%);
  }

  .wave-1::after {
    left: 122%;
    height: 101%;
    width: 134%;
  }
}

@media (min-width: 1115px) {
  .wave-1::before {
    left: 18%;
    height: 157%;
    width: 112%;
    transform: translate(-20%, -41%);
  }

  .wave-1::after {
    left: 115%;
    height: 123%;
    width: 130%;
    transform: translate(-11%, -1%);
  }
}
