/*********************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  position: relative;
  background-color: #00ced1;
  font-family: "Kalam", cursive, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*********************************************************** title */
.title h1 {
}

/*********************************************************** wavy pattern */
.wavy {
}
